@import "../../styles/variables";

.page-info {
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
    padding: 24px;
    border-bottom: 1px solid $primary;
    h2 {
        margin-bottom: 24px;
    }
    p {
        text-align: center;
        margin-bottom: 24px;
    }
}
