.loading-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 24px;
    img {
        width: 50px;
        height: 50px;
        animation: loadingRotation 1s infinite;
    }
    p {
        margin-top: 24px;
    }
}

@keyframes loadingRotation {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}
