.input {
    position: relative;
    padding: 12px 0;
    display: flex;
    align-items: center;
    justify-content: center;
    width: fit-content;
    input.primary-text-input {
        padding: 0 12px;
        min-width: 0;
    }
    span {
        position: absolute;
        bottom: -5px;
        left: 5px;
        &:before {
            content: "*";
            padding-right: 3px;
        }
    }
    button {
        border-left: none;
    }
}
