//class creator for text, background & button
$font-sizes: (
    "l": $fontSize-l,
    "m": $fontSize-m,
    "s": $fontSize-s,
    "xs": $fontSize-xs,
);
$font-weigths: $fontWeigth-l, $fontWeigth-m, $fontWeigth-s;
$font-colors: (
    "primary": $primary,
    "secondary": $secondary,
    "light": $light,
    "gray": $gray,
);

@each $colorName, $color in $font-colors {
    //inputs
    .#{$colorName}-text-input {
        height: 30px;
        border: 1px solid $color;
    }
    //buttons
    .btn-#{$colorName}-outlined {
        cursor: pointer;
        text-transform: uppercase;
        border: 1px solid $color;
        padding: 6px 12px;
        &:hover {
            background-color: rgba($color, 0.1);
        }
    }
    .btn-#{$colorName} {
        cursor: pointer;
        text-transform: uppercase;
        padding: 6px 12px;
        &:hover {
            background-color: rgba($color, 0.1);
        }
    }
    //background
    .bg-#{$colorName} {
        background-color: $color !important;
    }
    //text
    @each $weigth in $font-weigths {
        @each $sizeName, $size in $font-sizes {
            .text-#{$colorName}-#{$sizeName}-#{$weigth} {
                font-size: $size;
                font-weight: $weigth;
                color: $color;
            }
        }
    }
}

//class creator shadows
$shadows: (
    "l": $shadow-high,
    "m": $shadow,
    "s": $shadow-low,
);

@each $shadowName, $it in $shadows {
    .shadow-#{$shadowName} {
        box-shadow: $it;
    }
}

//class creator border radius
$border-radius: (
    "big": $border-big,
    "small": $border-small,
);

@each $radiusName, $it in $border-radius {
    .#{$radiusName}-radius {
        border-radius: $it;
    }
}

//mixin creator for mediaqueries
@mixin mq-s() {
    @media (max-width: $mq-s) {
        @content;
    }
}

@mixin mq-m() {
    @media (max-width: $mq-m) {
        @content;
    }
}

@mixin mq-l() {
    @media (max-width: $mq-l) {
        @content;
    }
}

@mixin mq-xl() {
    @media (max-width: $mq-xl) {
        @content;
    }
}
