//colors
$primary: #00b5b5;
$secondary: #f05a5b;
$light: #f9f9f9;
$gray: #808080;

//fonts
$font-family: "Lato", sans-serif;

$fontSize-l: 36px;
$fontSize-m: 24px;
$fontSize-s: 18px;
$fontSize-xs: 14px;

$fontWeigth-l: 700;
$fontWeigth-m: 400;
$fontWeigth-s: 300;

//shadows
$shadow-high: 0px 14px 28px rgba(0, 0, 0, 0.25),
    0px 10px 10px rgba(0, 0, 0, 0.2);
$shadow: 0px 5px 15px rgba(0, 0, 0, 0.25), 0px 6px 6px rgba(0, 0, 0, 0.1);
$shadow-low: 0px 3px 6px rgba(0, 0, 0, 0.15);

//border-radius
$border-big: 8px;
$border-small: 4px;

//media-queries
$mq-s: 576px;
$mq-m: 768px;
$mq-l: 992px;
$mq-xl: 1200px;
