@import "../../styles/variables";

.info-list {
    padding: 24px 0;
    li {
        text-align: center;
        padding: 12px 0;
        &::before,
        &::after {
            content: "|";
            color: $primary;
            padding: 6px;
            font-weight: 700;
        }
    }
}
