@import "../../styles/variables";

.header-component {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 100%;
    padding: 0 24px;
    border-bottom: 1px solid #ccc;
    img {
        width: 50px;
        height: 50px;
    }
    nav {
        display: flex;
        align-items: center;
        ul {
            display: flex;
            align-items: center;
            margin: 0;
            li {
                margin-left: 12px;
            }
        }
    }
}
