@import "../../styles/variables";

.user-page-container {
    text-align: center;
    padding: 24px 0;
    .user-info {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-top: 24px;
        .no-repo-fallback {
            margin: 24px 0;
        }
        .error-fallback {
            padding: 24px;
            img {
                width: 150px;
            }
            p {
                margin: 24px 0;
            }
        }
        .card {
            position: relative;
            margin-top: 24px;
            padding: 24px 12px;
            border: 1px solid $primary;
            border-radius: 12px;
            min-width: 250px;
            &.repo {
                &::before {
                    content: "Repositories";
                }
            }
            &.user {
                display: flex;
                align-items: center;
                justify-content: center;
                width: fit-content;
                margin: 12px 0;
                img {
                    width: 35px;
                    height: 35px;
                    border-radius: 100%;
                    margin-right: 12px;
                    border: 1px solid $primary;
                }
                h3 {
                    margin-bottom: 0;
                    &.missing-name {
                        color: $secondary;
                    }
                }
                &::before {
                    content: "Profile";
                }
            }
            &::before {
                color: $primary;
                padding: 6px 12px;
                font-size: 12px;
                position: absolute;
                top: -13px;
                left: 10%;
                border: 1px solid $primary;
                border-radius: 100px;
                background-color: white;
            }
            .repos {
                padding: 12px 6px;
                p {
                    margin-top: 6px;
                }
            }
        }
    }
}
