@import "../../styles/variables";

.page-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 24px;
    .input-container {
        display: flex;
        flex-flow: column nowrap;
        text-align: center;
        align-items: center;
        padding: 12px;
        header {
            h3,
            p {
                margin-bottom: 12px;
            }
        }
    }
}
