@import "./styles/variables";

.start-app {
    font-family: $font-family;
    .app-header {
        height: 100px;
    }
    .app-main {
        height: calc(100vh - 100px);
        padding: 24px;
    }
}
